.mobiledropdown {
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 5px -2px rgb(0 0 0 / 18%);
}
.loading-bar {
  animation: loading-bar 5s infinite;
}

@keyframes loading-bar {
  0% {
    width: 0;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}